x-logging: &default-logging
  driver: loki
  options:
    loki-url: 'http://localhost:3100/api/prom/push'
    loki-pipeline-stages: |
      - multiline:
          firstline: '^\d{4}-\d{2}-\d{2} \d{1,2}:\d{2}:\d{2}'
          max_wait_time: 3s
      - regex:
          expression: '^(?P<time>\d{4}-\d{2}-\d{2} \d{1,2}:\d{2}:\d{2},d{3}) (?P<message>(?s:.*))$$'

version: '3.4'

services:
  loki:
    image: grafana/loki:2.9.3
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - '3100:3100'

  generic_qa:
    # build:
    #   context: ../
    #   dockerfile: ./jb-generic-qa/tools/Dockerfile
    image: gcr.io/indian-legal-bert/jugalbandi_genericqa:latest
    ports:
      - '8080:8080'
    depends_on:
      - loki
    env_file:
      - .env
    environment:
      APP_NAME: 'generic_qa'
    logging: *default-logging

  prometheus:
    image: prom/prometheus:v2.48.1
    ports:
      - '9090:9090'
    volumes:
      - ./etc/prometheus:/workspace
    command:
      - --config.file=/workspace/prometheus.yml
      - --enable-feature=exemplar-storage
    depends_on:
      - loki
    logging: *default-logging

  tempo:
    image: grafana/tempo:2.3.1
    command:
      [
        '--target=all',
        '--storage.trace.backend=local',
        '--storage.trace.local.path=/var/tempo',
        '--auth.enabled=false'
      ]
    ports:
      - '4317:4317'
      - '4318:4318'
    depends_on:
      - loki
    logging: *default-logging

  grafana:
    image: grafana/grafana:10.2.3
    ports:
      - '3000:3000'
    volumes:
      - ./etc/grafana/:/etc/grafana/provisioning/datasources
      - ./etc/dashboards.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml
      - ./etc/dashboards:/etc/grafana/dashboards
    depends_on:
      - loki
      - prometheus
    logging: *default-logging
